@font-face {
	font-family: 'WMitra';
	src: url('../fonts/MitraWeb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WMitra';
	src: url('../fonts/MitraWeb-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'WRoya';
	src: url('../fonts/RoyaWeb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'WRoya';
	src: url('../fonts/RoyaWeb-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}

@font-face{
	font-family:'tahaNormal';
	src:url("../fonts/IRANSans.woff") format("woff");
	font-weight:normal;
	font-style:normal
}

@font-face{
	font-family:'tahaNormal';
	src:url("../fonts/IRANSans-Bold.woff") format("woff");
	font-weight:bold;
	font-style:normal
}

@font-face{
	font-family:'tahaNormal';
	src:url("../fonts/IRANSans-Light.woff") format("woff");
	font-weight:100;
	font-style:normal
}


@font-face {
	font-family: 'tahaTitr';
	src:  url('../fonts/YekanWeb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'tahaTitr';
	src:  url('../fonts/YekanWeb-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'koodak';
	src:  url('../fonts/bkoodakbold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*
@font-face {
	font-family: "koodak";
	src: local("B koodak"),
	url('../fonts/bkoodakbold.woff') format('woff'),
	url('../fonts/bkoodakbold.eot?#') format('eot'),
	url('../fonts/bkoodakbold.ttf') format('truetype');
}
*/